<hr>
<p>{{dish.name}} ${{dish.cost}}</p>

{% for image in dish.menu_image.all %}
<img src={{image.photo.url}} height="100">
{% endfor %}
{% for video in dish.menu_video.all %}
<br>
<iframe id="item_video" width="680" height="400" src={{video.video}}></iframe>
{% endfor %}
<br>
Description: {{dish.description}}

<hr>
<br>
<table border = "1">
<tr>
	<td>Review</td>
	<td>Customer Name</td>
	<td>Comment Date</td>
</tr>
{% for review in dish.few_reviews %}
<tr>
	<td>{{review.context}}</td>
	<td>{{review.cust_id.name}}</td>
	<td>{{review.create_date}}</td>
</tr>
{% endfor %}
</table>