
{% extends "base.html" %}
{% block script %}
<script>
$(function(){
	$("[type='number']").keydown(function (evt) {
	    evt.preventDefault();
	});
	$('p.dish').click(function(){
		$.post("{% url 'detail' %}",
		{
			'dish_id': this.id,
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},
		function(data, status){
        	$('div#dish_detail').html(data)
    	})
	})
})

$(function(){
	$('input.dish').change(function(){
		ShowPrice()
	})
})

function verify(){
	if (document.forms[0].elements['name'].value=='') {
	    alert('Please enter your name')
	    return false;
	}
	var num = CalculatePrice()
	console.log(num)
	if (CalculatePrice()==0){
		alert('Please choose some dishes before submit')
	    return false;
	}
	return true
}

function CalculatePrice(){
	var num = 0
	{% for i in list_of_pie.all %}
		var item_name = 'dish{{i.id}}'
		var quant = document.getElementsByName(item_name);
	    num = num + parseFloat('{{i.cost}}') * quant['0'].value
	{% endfor %}
	return num.toFixed(2)
}

function ShowPrice(){
	var num = CalculatePrice()
	$('#review_detail').html('Total Price is $' + num + '.')
}

</script>
{% endblock %}

{% block content %}

<h1>Menu</h1>
<hr>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'submit' %}" method="post">
<p>name: <input type="text" name="name" required></p>
<hr>
<p>Table NO. <input type="number" name = 'table_num' value = "1" min="1" max="10"/> </p>

{% csrf_token %}
{% for dish in list_of_pie.all %}
	<U><p class = 'dish' id = '{{dish.id}}'>{{ dish.name }} (${{dish.cost}}) </p></U>
    <input class = 'dish' type="number" name="dish{{ dish.id }}" id="dish{{ forloop.counter }}" value = "0" min="0" max="99"/>
    <br>
{% endfor %}
<hr>
<br>
<p>Any notes or comments? (e.g. dietary restrictions, etc.)<br><input type="textarea" name="comments"></p>
<div id = 'review'>
	<p id = 'review_detail'></p>
</div>
<input type="submit" value="Submit" onclick="return verify()"/>
</form>
<div id = 'dish_detail'>
</div>


{% endblock %}
